:root {
  --font-serif: "Source Serif Pro", serif;
  --font-sans-serif: Montserrat, sans-serif;

  --heading-weight: 700;
  --paragraph-weight: 400;

  --text-primary: #ffffff;
  --text-dark: #c4c4c4;
  --text-light: #fafafa;
  --text-soft: #e8e8e8;

  --progress-color: #2066d2;
  --progress-background-color: #2f2f2f;
  --progress-pointer-color: #c4c4c4;
}
